@import 'src/scss/index';

.navigation-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__menu {
    display: flex;
    align-items: center;
    gap: $space-sm;
  }
}