$space-unit: 16px;
$space-tiny: 2px; // 2px
$space-xxs: 4px; // 4px
$space-xs: 8px;  // 8px
$space-sm: 12px; // 12px
$space-sm-md: 16px; // 16px
$space-md: 20px; // 20px
$space-md-lg: 24px; // 24px
$space-lg: 32px;  // 32px
$space-xl: 52px; // 52px
$space-xxl: 84px; // 84px